/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.1.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ocean_explorer
-- ------------------------------------------------------
-- Server version	12.1.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `radar_results`
--

DROP TABLE IF EXISTS `radar_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `radar_results` (
  `radar_resultID` int(11) NOT NULL AUTO_INCREMENT,
  `height` int(11) NOT NULL,
  `ground` varchar(100) DEFAULT NULL,
  `navigable` enum('Yes','No') DEFAULT 'Yes',
  PRIMARY KEY (`radar_resultID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `radar_results`
--

LOCK TABLES `radar_results` WRITE;
/*!40000 ALTER TABLE `radar_results` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `radar_results` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `scan_results`
--

DROP TABLE IF EXISTS `scan_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `scan_results` (
  `scan_resultID` int(11) NOT NULL AUTO_INCREMENT,
  `total_depth_average` int(11) NOT NULL,
  `standard_deviation` double DEFAULT NULL,
  PRIMARY KEY (`scan_resultID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scan_results`
--

LOCK TABLES `scan_results` WRITE;
/*!40000 ALTER TABLE `scan_results` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `scan_results` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `sector`
--

DROP TABLE IF EXISTS `sector`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sector` (
  `sectorID` int(11) NOT NULL AUTO_INCREMENT,
  `position_x` int(11) NOT NULL,
  `position_y` int(11) NOT NULL,
  PRIMARY KEY (`sectorID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sector`
--

LOCK TABLES `sector` WRITE;
/*!40000 ALTER TABLE `sector` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `sector` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `ship`
--

DROP TABLE IF EXISTS `ship`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ship` (
  `shipID` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `typ` varchar(100) NOT NULL,
  `active` enum('Yes','No') DEFAULT 'Yes',
  PRIMARY KEY (`shipID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ship`
--

LOCK TABLES `ship` WRITE;
/*!40000 ALTER TABLE `ship` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `ship` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `ship_radar_results`
--

DROP TABLE IF EXISTS `ship_radar_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ship_radar_results` (
  `ship_radar_resultID` int(11) NOT NULL AUTO_INCREMENT,
  `radar_resultID` int(11) NOT NULL,
  `sectorID` int(11) NOT NULL,
  `shipID` int(11) NOT NULL,
  PRIMARY KEY (`ship_radar_resultID`),
  KEY `radar_resultID` (`radar_resultID`),
  KEY `sectorID` (`sectorID`),
  KEY `shipID` (`shipID`),
  CONSTRAINT `1` FOREIGN KEY (`radar_resultID`) REFERENCES `radar_results` (`radar_resultID`),
  CONSTRAINT `2` FOREIGN KEY (`sectorID`) REFERENCES `sector` (`sectorID`),
  CONSTRAINT `3` FOREIGN KEY (`shipID`) REFERENCES `ship` (`shipID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ship_radar_results`
--

LOCK TABLES `ship_radar_results` WRITE;
/*!40000 ALTER TABLE `ship_radar_results` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `ship_radar_results` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `ship_scan_results`
--

DROP TABLE IF EXISTS `ship_scan_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ship_scan_results` (
  `ship_scan_resultID` int(11) NOT NULL AUTO_INCREMENT,
  `scan_resultID` int(11) NOT NULL,
  `sectorID` int(11) NOT NULL,
  `shipID` int(11) NOT NULL,
  PRIMARY KEY (`ship_scan_resultID`),
  KEY `scan_resultID` (`scan_resultID`),
  KEY `sectorID` (`sectorID`),
  KEY `shipID` (`shipID`),
  CONSTRAINT `1` FOREIGN KEY (`scan_resultID`) REFERENCES `scan_results` (`scan_resultID`),
  CONSTRAINT `2` FOREIGN KEY (`sectorID`) REFERENCES `sector` (`sectorID`),
  CONSTRAINT `3` FOREIGN KEY (`shipID`) REFERENCES `ship` (`shipID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ship_scan_results`
--

LOCK TABLES `ship_scan_results` WRITE;
/*!40000 ALTER TABLE `ship_scan_results` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `ship_scan_results` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `submarine`
--

DROP TABLE IF EXISTS `submarine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `submarine` (
  `submarineID` int(11) NOT NULL AUTO_INCREMENT,
  `shipID` int(11) NOT NULL,
  `sink_positionID` int(11) DEFAULT NULL,
  `arise_positionID` int(11) DEFAULT NULL,
  `active` enum('Yes','No') DEFAULT 'Yes',
  `sunk` enum('Yes','No') DEFAULT 'No',
  PRIMARY KEY (`submarineID`),
  KEY `shipID` (`shipID`),
  KEY `sink_positionID` (`sink_positionID`),
  KEY `arise_positionID` (`arise_positionID`),
  CONSTRAINT `1` FOREIGN KEY (`shipID`) REFERENCES `ship` (`shipID`),
  CONSTRAINT `2` FOREIGN KEY (`sink_positionID`) REFERENCES `submarine_sink_position` (`sink_positionID`),
  CONSTRAINT `3` FOREIGN KEY (`arise_positionID`) REFERENCES `submarine_arise_position` (`arise_positionID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submarine`
--

LOCK TABLES `submarine` WRITE;
/*!40000 ALTER TABLE `submarine` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `submarine` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `submarine_arise_position`
--

DROP TABLE IF EXISTS `submarine_arise_position`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `submarine_arise_position` (
  `arise_positionID` int(11) NOT NULL AUTO_INCREMENT,
  `position_x` int(11) NOT NULL,
  `position_y` int(11) NOT NULL,
  `position_z` int(11) NOT NULL,
  PRIMARY KEY (`arise_positionID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submarine_arise_position`
--

LOCK TABLES `submarine_arise_position` WRITE;
/*!40000 ALTER TABLE `submarine_arise_position` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `submarine_arise_position` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `submarine_measurements`
--

DROP TABLE IF EXISTS `submarine_measurements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `submarine_measurements` (
  `depth_valuesID` int(11) NOT NULL AUTO_INCREMENT,
  `submarineID` int(11) NOT NULL,
  `sectorID` int(11) NOT NULL,
  `vec_x` int(11) NOT NULL,
  `vec_y` int(11) NOT NULL,
  `vec_z` int(11) NOT NULL,
  PRIMARY KEY (`depth_valuesID`),
  KEY `submarineID` (`submarineID`),
  KEY `sectorID` (`sectorID`),
  CONSTRAINT `1` FOREIGN KEY (`submarineID`) REFERENCES `submarine` (`submarineID`),
  CONSTRAINT `2` FOREIGN KEY (`sectorID`) REFERENCES `sector` (`sectorID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submarine_measurements`
--

LOCK TABLES `submarine_measurements` WRITE;
/*!40000 ALTER TABLE `submarine_measurements` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `submarine_measurements` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `submarine_sink_position`
--

DROP TABLE IF EXISTS `submarine_sink_position`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `submarine_sink_position` (
  `sink_positionID` int(11) NOT NULL AUTO_INCREMENT,
  `position_x` int(11) NOT NULL,
  `position_y` int(11) NOT NULL,
  `position_z` int(11) NOT NULL,
  PRIMARY KEY (`sink_positionID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submarine_sink_position`
--

LOCK TABLES `submarine_sink_position` WRITE;
/*!40000 ALTER TABLE `submarine_sink_position` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `submarine_sink_position` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-02-03 14:57:17
